<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="container mt-5">
                <h1>Design</h1>
                <img src="/images/design.jpg" width="35%">
            </div>

    </body>

</html>